*,
:before,
:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

.white{
  background-color: #fff;
  color: #0e1216;
}

.black{
  background-color: #0e1216;
  color: #fff
}

.content {
    position: fixed;
    height: 100%;
    width: 100%;
}

.animate_content {
    animation: animate 3s ease;
    animation: animate 3s ease;
}

.fadeIn {
    z-index: 10;
}

.intro {
    margin-left: 3rem;
    margin-top: 3rem;
}

.intro h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

.intro h3 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 1rem;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: slategray;
    border-width: 5px;
    width: 5%;
    margin: 50px auto 50px auto;
}

/*****************************************************************
~ Mobile media-queries (max-width: 767px)
******************************************************************/
@media only screen and (max-width: 767px) {
    .page__description h1 {
      margin-top: 100px;
    }
  }
  @-moz-keyframes animate {
    10% {
      transform: scale(1, 0.002);
    }
    35% {
      transform: scale(0.2, 0.002);
      opacity: 1;
    }
    50% {
      transform: scale(0.2, 0.002);
      opacity: 0;
    }
    85% {
      transform: scale(1, 0.002);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @-webkit-keyframes animate {
    10% {
      transform: scale(1, 0.002);
    }
    35% {
      transform: scale(0.2, 0.002);
      opacity: 1;
    }
    50% {
      transform: scale(0.2, 0.002);
      opacity: 0;
    }
    85% {
      transform: scale(1, 0.002);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @-o-keyframes animate {
    10% {
      transform: scale(1, 0.002);
    }
    35% {
      transform: scale(0.2, 0.002);
      opacity: 1;
    }
    50% {
      transform: scale(0.2, 0.002);
      opacity: 0;
    }
    85% {
      transform: scale(1, 0.002);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes animate {
    10% {
      transform: scale(1, 0.002);
    }
    35% {
      transform: scale(0.2, 0.002);
      opacity: 1;
    }
    50% {
      transform: scale(0.2, 0.002);
      opacity: 0;
    }
    85% {
      transform: scale(1, 0.002);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
    }
  }